{% extends "layout/layout.html.twig" %}

{% block main %}
<h1>{% trans %}Welcome to Bucket-List!{% endtrans %}</h1>
    
<p>{% trans %}This is an example of a description and location.{% endtrans %}</p>
{% endblock %}

{% block title %}Bucket-List | {% trans %}Home{% endtrans %}{% endblock %}