{% extends 'base.html.twig' %}

{% block title %}{% trans %}New Idea{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Create new Idea{% endtrans %}</h1>

    {{ include('idea_controller2/_form.html.twig') }}

    <a href="{{ path('app_idea_controller2_index') }}">{% trans %}back to list{% endtrans %}</a>
{% endblock %}
